/*Navigation*/
.navbar{
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: .1rem;
}

.nav-item{
	padding: 2px;
}

.nav-link{
	color: #e5eaf5!important;
	text-transform: uppercase;
	display: block;
	font-weight: bold;
	transition: 0.6s;
}

.nav-link:hover{
	/*background-color: #ff4301;*/
	background-color: #fa7d09;
	color: black!important;
}

.scrolling-active{
	transition: 1s;
	/*background:rgba(0,0,0,1);*/
	background: #2f2519;
	box-shadow: 0 3px 1rem rgba(0,0,0,.1);

}

.scrolling-logo{
	transition: 1s;
	color:#ff4301;
}
/*Navigation*/

/*Carousel*/
.carousel-caption h5{
	font-family: 'Kosugi', sans-serif;
	font-size: 80px;
}
/*Carousel*/

/*Jumbotron*/
.jumbotron{
	background:#fff;
}
/*Jumbotron*/


body{
	background:#4a3f35;
}

.responsive {
  width: 100%;
  height: auto;
}

/*Cards*/
.col-md-4 p{
	margin-top: 5px;
}

.container .card{
	display: flex;
	width: 100%;
	margin-bottom: 30px;
}

.card{
	width: 280px;
	height: 360px;
	margin-right:5px;
	padding: 2rem 1rem;
	background: #fff;
	display: flex;
	align-items: flex-end;
	box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
	transition: 0.5s all;
	position: relative;
}

.card img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	object-fit: cover;
}

.card:hover{
	transform: translateY(20px);
}

.card:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	/*background: linear-gradient(to bottom,rgba(255,176,155,0.5),rgba(150,201,61,0.5));*/
	background: rgba(0,0,0,0.4);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.card:hover:before{
	opacity: 1;
}

.card .card-body{
	width: 100%;
	position: relative;
	z-index: 3;
	opacity: 0;
	color: #fff;
	transform: translateY(30px);
	transition: 0.5s;
}

.card .card-body h5{
	text-align: left;
}

.card .card-body p{
	text-align: left;
}

.card .icons{
	position: absolute;
}

.card:hover .card-body{
	opacity: 1;
	transform: translateY(0px);
}

.icons{
	padding-top:100px;
	padding-left:140px;
}

.icons a{
	padding: 2px;
	font-size: 20px;
}
/*Cards*/

/*Footer*/
footer{
	background:#1a1c20;
	padding:30px;
}

.copy{
	padding-top: 6px;
}

.footer-icons a{
	padding: 15px;
	font-size: 25px;
}

.footer-icons .yt{
	color: red;
}

.footer-icons .insta{
	color: yellow;
}
/*Footer*/







