body{
	background:#E4BB97;
}

/*Navigation*/
.navbar{
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: .1rem;
	background:#4a3f35;
	box-shadow: 0 3px 1rem rgba(0,0,0,.5);
	z-index: 1;
}

.nav-item{
	padding: 2px;
}

.nav-link{
	color: #fff!important;
	text-transform: uppercase;
	display: block;
	font-weight: bold;
	transition: 0.6s;
}

.nav-link:hover{
	background-color: #fa7d09;
	color: black!important;
}

.scrolling-active{
	transition: 1s;
	background: #2f2519;
	box-shadow: 0 3px 1rem rgba(0,0,0,.1);
	z-index: 1;
}

.scrolling-logo{
	transition: 1s;
	color:#ff4301;
}
/*Navigation*/

/*BreadCrumb*/
.breadcrumb{
	padding-top: 80px;
}
/*BreadCrumb*/

.card-img{
	background-image: url("../images/techDay.jpg");
	height: 500px;
	display:block;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.my-container{
	padding-bottom: 20px;
}

/*Footer*/
footer{
	background:#1a1c20;
	padding:30px;
}

.footer-icons a{
	padding: 15px;
	font-size: 25px;
}

.copy{
	padding-top: 6px;
}

.footer-icons .yt{
	color: red;
}

.footer-icons .insta{
	color: yellow;
}
/*Footer*/