body{
	background:#FEF5EF;
}
/*Navigation*/
.navbar{
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: .1rem;
	background-color:#4a3f35;
	box-shadow: 0 3px 1rem rgba(0,0,0,.5);
	z-index: 1;
}

.nav-item{
	padding: 2px;
}

.top-item .nav-link{
	color: #fff!important;
	text-transform: uppercase;
	display: block;
	font-weight: bold;
	transition: 0.6s;
}

.tab-item .nav-link{
	color: black!important;
	display: block;
	font-weight: bold;
	transition: 0.6s;
}

.nav-link:hover{
	background-color: #fa7d09;
	color: black!important;
}

.scrolling-active{
	transition: 1s;
	background: #2f2519;
	box-shadow: 0 3px 1rem rgba(0,0,0,.1);
	z-index: 1;

}

.scrolling-logo{
	transition: 1s;
	color:#ff4301;
}
/*Navigation*/

/*BreadCrumb*/
.breadcrumb{
	padding-top: 80px;
}
/*BreadCrumb*/

.tab-body-picture{
    background-image: url("../images/start.jpg");
	height: 500px;
	display:block;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tab-body-picture2{
    background-image: url("../images/flight.jpg");
	height: 500px;
	display:block;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tab-body-picture3{
    background-image: url("../images/language.jpg");
	height: 500px;
	display:block;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tab-body-picture4{
    background-image: url("../images/art.jpg");
	height: 500px;
	display:block;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.offers{
	font-size: 20px;
}

.tab-content p{
	font-size: 20px;
}

.map-container-6{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}

.map-container-6 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

/*Footer*/
footer{
	background:#1a1c20;
	padding:30px;
}

.footer-icons a{
	padding: 15px;
	font-size: 25px;
}

.copy{
	padding-top: 6px;
}

.footer-icons .yt{
	color: red;
}

.footer-icons .insta{
	color: yellow;
}
/*Footer*/
